{
  "extends": "airbnb",
  "globals": {
    "React": true,
    "ReactDOM": true,
    "$": true,
    "jQuery": true
  },
  "rules": {
    "comma-dangle": [1, "never"],
    "spaced-comment": [0, "always"],
    "func-names": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-no-bind": 0,
    "prefer-const": 0
  }
}