@import "~normalize.less";
.clearfix {
  overflow: auto;
  zoom: 1;
}
h1,h2,h3 {
  color: #DA4453;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
ul.nav-wrap>li {
  list-style: none;
  float: left;
  margin-right: 20px;
  text-align: center;
}
ul.nav-wrap>li>a {
  width: 150px;
  line-height: 2em;
  text-decoration: none;
  display: inline-block;
  background-color: pink;
  color: white;
}
ul.nav-wrap>li>a:hover {
  list-style: none;
  display: inline-block;
  background-color: deeppink;
  font-weight: bold;
}